package {
    name "protobuf" 
    author "Brendan Hansen" 
    url "https://github.com/onyx-lang/pkg-protobuf" 
    description "ProtoBuf implementation for Onyx" 
    version "0.0.2" 
}

config {
    dependency_source_path "./lib" 
    dependency_binary_path "./bin" 
}

